

body {
	font-family: 'Lexend', sans-serif;
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

html{
	font-size: 62.5%;
}
.header{
  width: 100%;
    height:12rem ;
    background-color:#fde391;

}
.header__item{
	display: flex;
	justify-content: space-between;
	padding: 3rem 9rem;
	height: 6rem;
	align-items:center;
}

.header__item img{
	font-size: 3.1rem;
	width: 16%;
	
}

nav a{
	text-decoration: none;
	padding:1.5rem;
	color: #000;
	font-size: 2rem;
}
nav a:hover{
	color: #FF8C00;
}
.header__icon{
	display: flex;
}
.header__icon-item {
	background-color: #ece9e9;
	margin: 0rem 0.3rem;
	border-radius: 0.3rem;
}
	.header__icon-item  i{
	padding: 1.2rem 1.2rem;
	color: #000;
	font-size: 2rem;
	cursor: pointer;
	}
.header__icon-item:hover{
	background-color: #FF8C00;
	border-radius: 0.4rem;
	transition: ease-in 0.2s;
}
/* form search */


.sideshow__img img{
	width: 100%;
	animation: fald .6s ease-in-out;
}
.sideshow{
	position: relative;
}
.btn__img{
	display: flex;
	position: absolute;
	top:46%;
	width: 100%;
	justify-content: space-between;
	cursor: pointer;
}
.btn__icon{

padding: 0.8rem;
transition: .2s linear;
border-radius: 0.2rem;

}
.btn__icon:hover{
	background-color:#000 ;
	color: #fff;
}
.btn__icon i {
	font-size: 3rem;
	
}
@keyframes fald{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.icon__list{
	display: flex;
	justify-content: space-between;
	margin: 1.5rem 4.6rem;
}
.icon{
	padding: 1rem 1.2rem;
}
.icon i{
	padding-right: 0.6rem;
	color:#2ad10a;
	font-size: 2rem;
}
.icon a{
	text-decoration: none;
	font-size: 1.6rem;
	color: #000;
}

.image{
display: flex;
justify-content: space-around;
margin: 1rem 4rem;
}
.item{
	overflow: hidden;
	position: relative;
	transition: 0.3s ease-in-out;
}
.item img{
	width: 40rem;
	height: 20rem;
	border-radius: 0.4rem;
	transition: 1s ease-in-out;
	display: block;
}
.item:hover.item img
	{
		transform: scale(1.1);
	}
.btn p{
top:35%;
left: 5%;
position: absolute;
font-size: 1.5rem;
color: #fff;
border: 0.3rem solid #fff;
padding: 0.5rem 1rem;
cursor: pointer;
transition: .3s linear;
}
.btn span{
	position:absolute;
	top:15%;
	left: 5%;
	color: #fff;
	font-size: 2rem;
	
}
.btn p:hover{
	background-color:#fff ;
	color: #2ad10a;
}
.btn{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 4.5rem 0rem;
}
