.list-todo-container {
  button {
    cursor: pointer;
  }
  .add-todo {
    button {
      margin: 0 10px;
    }
  }
  .list-todo-content {
    width: 400px;
    margin: 0 auto;

    .todo-child {
      height: 40px;
      border-bottom: 1px solid gray;
      margin: 10px;

      &:first-child {
        margin: 10px;
        border-top: 1px solid gray;
      }

      button {
        margin: 0 9px;
      }
    }
  }
}
